<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookmatch">

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:label="Book Match"
        android:name="${applicationName}"
    android:icon="@mipmap/ic_launcher">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <!-- Firebase metadata -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@mipmap/ic_launcher" />
     <!-- Define in res/values/colors.xml -->

    <!-- Main activity -->
    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:launchMode="singleTop"
        android:taskAffinity=""
        android:theme="@style/LaunchTheme"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
        android:hardwareAccelerated="true"
        android:windowSoftInputMode="adjustResize">

        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme" />

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- Required for Flutter plugin registry -->
    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />
</application>

    <!-- Queries for specific intents -->
<queries>
<intent>
    <action android:name="android.intent.action.PROCESS_TEXT" />
    <data android:mimeType="text/plain" />
</intent>
</queries>
    </manifest>
